.dropdown {
    position: relative;

    .summary[aria-expanded="true"] + .panel {
        z-index: 10;
        display: block;
    }
    .panel {
        position: absolute;
        top: 100%;
        right: 0;
        width: 200px;
        display: none;

        .panel-content {
            background: #fff;
            padding: 10px;
            border: 1px solid gray;
        }
    }
}
